* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F6F0EB;
    font-family: 'poppins', sans-serif;

}
.main-content{
    overflow-x: hidden;
    height: 100vh;
    scroll-behavior: smooth;
}

a {
    text-decoration-line: none;
    color: inherit;
}

header {
    background-color: #fff;
    padding: 24px;
    background-color: #f6f0ebb7;
    backdrop-filter: blur(8px);
    position: sticky;
    /* width: 100%; */
    /* position: fixed; */
    top: 0;
}

.header-content {
    max-width: 1290px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    min-height: 100px;
    /* overflow: hidden; */

}
nav {
    display: flex;
    
    
}

nav a {
    font-weight: 700;
    font-size: 20px;
    color: #492118;

}

nav a+a {
    margin-left: 50px;
}

.logo {
    width: 50px;
}

.logo img {
    width: 100%;
}

img {
    width: 100%;

}

main {
    padding: 0 24px;

}

.hero-section {
    margin-top: 100px;

}

.img-container {
    max-width: 1200px;
    margin: 0 auto;
}

.hero-section p {
    color: #492118;
    text-align: center;
    font-size: 24px;
}

.section .img-container {
    max-width: 1000px;
    margin-top: 0 auto;

}

.section {
    margin-top: 110px;
}

.section h2 {
    font-weight: 700;
    font-size: 48px;
    color: #492118;
    text-align: center;
}

.section h2 {
    font-weight: 700;
    font-size: 48px;
    color: #492118;
    text-align: center;
    cursor: pointer;
}

.goToTop {
    text-align: right;
    max-width: 960px;
    margin: 32px;
    font-size: 32px;
    margin-top: 80px;
}

.goToTop a {
    text-decoration-line: underline;
}

footer p {
    color: #492118;
    text-align: center;
    font-size: 22px;
    font-family: 'poppins', sans-serif;
}

.close-icon {
    position: absolute;
    right: 16px;
    top: 8px;
    cursor: pointer;
    display: none;
}

.hamburger-menu-container {
    overflow: hidden;
    position: relative;
    width: 70px;
    height: 70px;
    display: none;

}

.hamburger-menu {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: -128px;
    right: -128px;
    background-color: white;
    cursor: pointer;
}

.hamburger-icon {
    /* background-color: white; */
    font-size: 32px;
    position: absolute;
    bottom: 32px;
    left: 40px;


}

@media(max-width:1200px) {
    nav a {
        font-size: 16px;
    }

    nav a+a {
        margin-left: 48px;
    }
}

@media(max-width:960px) {
    nav a {
        font-size: 12px;
    }

    nav a+a {
        margin-left: 32px;
    }

    header {
        padding: 16px 24px;
    }

    .hero-section {
        margin-top: 32px;
        ;
    }

    .section {
        margin-top: 42px;
    }

    .hero-section p {
        font-size: 10px;

    }

    .section h2 {
        font-size: 16px;
    }
}

@media(max-width:768px) {
    header {
        background-color: #f6f0ebb7;
        backdrop-filter: blur(8px);
        position: sticky;
        top: 0;

    }
    nav {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.75);
        flex-direction: column;
        right: -200px;
        top: 16px;
        padding: 24px;
        transition: right 0.25s ease-in-out;
    }
    nav a+a {
        margin: 0;
        margin-top: 16px;

    }
    .close-icon {
        display: block;
    }
    .close-icon,
    .hamburger-menu-container {
        display: block;
    
    }

    .menu-open nav {
        /* display: flex; */
        right: 24px;
    }

    .menu-open .hamburger-menu-container {
        display: none;

    }
    .goToTop{
        font-size: 12px;

    }
    footer{
        font-size: 10px;
    }
}